@font-face {
  font-family: "LT Museum";
  src: url("../public/font/LTMuseum-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton L";
  src: url("../public/font/Campton-LightDEMO\ 2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* 
@font-face {
  font-family: 'Campton B';
  src: url('../public/font/Campton-BoldDEMO\ 2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 
*/

body {
  font-family: "Campton L", sans-serif;
  color: #27221e;
}

.header-font {
  font-family: "LT Museum";
}

.App {
  text-align: center;
  position: relative;
}

.App-header {
  color: #27221e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  padding: 3px;
  margin: 3px;
}

.navi-wrapper {
  height: auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

.category-nav {
  display: flex;
  list-style: none;
  margin: 0;
  /* gap: 0px; */
  /*네비게이션 간격*/
  white-space: nowrap;
  align-items: center;
  background-color: #27221e;
  color: #d9d8d8;
  padding: 16px 0;
  font-weight: bold;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}

.category-nav::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.category-nav>li {
  cursor: pointer;
  text-align: center;
  margin: 0 26px;
}

.category-nav>li:hover {
  color: #fff;
}

.menu-container {
  padding: 30px;
  font-size: 20px;
}

.category-text {
  position: relative;
  /* font-family: 'Times New Roman', Serif; */
  font-family: 'LT Museum';
  border-bottom: 1px solid rgb(210, 210, 210);
  display: flex;
  padding-bottom: 6px;
  margin-bottom: 40px;
  font-size: calc(23px + 2vmin);
}

.category-text::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(210, 210, 210);
  top: calc(100% + 5px);
}

/* 메뉴 리스트 */
.menu-wrapper {
  display: flex;
  flex-flow: column;
  gap: 40px;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* 터치 디바이스에서 부드럽게 스크롤 */
}

.sub-category {
  margin: 10px 0;
  text-align: left;
}

/* 테이블 스타일 */
.category-table {
  border-collapse: collapse;
  width: 100%;
}

.category-name {
  border-top: 1px dashed rgb(210, 210, 210);
  border-bottom: 2px solid #27221e;
}

/* 첫번째 컬럼 고정 스타일 */
/* .category-table th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 10px;
  background-color: #fff;
} */

.category-name th {
  padding: 13px;
  font-size: 18px;
}

.category-name th:first-child {
  width: 57%;
  text-align: left;
}

.category-name th:first-child,
th:last-child {
  padding-left: 0;
  padding-right: 0;
}

.menu-text td:first-child {
  text-align: left;
}

.menu-text {
  font-size: 18px;
}

.menu-text td {
  padding: 13px 0;
}